<h2>Home</h2>
<div>
    <a href="/counterspage">Counters</a>
</div>
<div>
    <a href="/addingcounter">Add new counter</a>
</div>
<div>
    <a href="/home/countmorethanone">Show query - simple</a>
</div>
<div>
    <a href="/CountMoreThanOne.html">Show query - ajax</a>
</div>