@page
@model CountersApp.Pages.CountersPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Key</th>
            <th>Value</th>
        </tr>
        @foreach (var item in @Model.CountersList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>
    <a href="addingcounter">Add new counter</a>
    <a href="/home">Home</a>
</div>
</body>
</html>